<h2>ログイン</h2>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<%= form_tag :session, id: "login-form" do %>
   <div>
     <label>メールアドレス：</label>
     <input type="text" name="email">
   </div>
   <div>
     <label>パスワード：</label>
     <input type="password" name="password">
   </div>
   <div>
     <input type="submit" value="ログイン">
   </div>
   <div>
      <p><%= link_to "購入者登録はこちら", new_account_path(type: :buyer) %></p>
      <p><%= link_to "出品者登録はこちら", new_account_path(type: :seller) %></p>
   </div>
<% end %>