<% @page_title = "注文管理情報の詳細" %>

<h1><%= @page_title %></h1>

<div class="toolbar">
<%= link_to "編集", edit_seller_order_item_path(@order_item) %>
<%= link_to "注文管理の一覧に戻る", seller_orders_path %>
</div>

<%= render "shared/order_item_form", order_item: @order_item %>