<% if params[:user_id].present? %>
  <% @page_title = User.find(params[:user_id]).business_name + "から出品された商品" %>
<% elsif params[:category_id].present? %>
  <% @page_title = Category.find(params[:category_id]).category_name + "の商品一覧" %>
<% else %>
  <% @page_title = "商品一覧" %>
<% end %>
<h1><%= @page_title %></h1>
<p><%= @items.count %>件の商品がヒットしました。</p> 

<%= render "shared/itemlist" %>