/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

/* ページ全体 */
body {
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 0; padding: 0;
    font-family: Meiryo, sans-serif;
  }
  
  /* リンク */
  a:link { color: #2162a1; }
  a:visited { color: #2162a1; }
  a:hover { color: #f00; }
  a img { border: none; }
  a {
    text-decoration: none;
  }
  
  /* ブロック要素 */
  p, h1, h2, h3, table, ul {
    margin: 0 0 1em;
  }
  
  /* ナビゲーション */
  nav ul,
  ul.toolbar,
  ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li,
  div.toolbar li,
  ul.toolbar li,
  ul.links li {
    display: inline;
  }
  
  /* 全体の枠 */
  div#container {
    margin: 0 auto;
    padding-top: 0px;
    /* width: 780px; */
  }
  
/* コンテナ全体にFlexboxを適用 */
div#container {
  display: flex;
  flex-wrap: wrap; /* 必要に応じて折り返しを許可 */
  margin: 0 auto;
  padding-top: 0px;
  /* max-width: 1200px; /* 必要に応じて最大幅を設定 */
}

/* サイドバーのスタイル */
aside#sidebar {
  flex: 0 0 230px; /* 幅を固定 */
  background-color: #ffffff;
  padding: 20px;
  font-size: 86%;
  box-sizing: border-box;
  margin-left: 0px;
}
/* メインコンテンツのスタイル */
main#main-content {
  flex: 1; /* 残りのスペースを占める */
  margin: 20px; /* 外側の余白を追加 */
  box-sizing: border-box;
}

/* レスポンシブデザインの設定 */
@media (max-width: 768px) {
  main#main-content {
    margin: 2%; /* 外側の余白を追加 */
  }
  div#container {
    flex-direction: column; /* 縦方向に並べる */
  }

  aside#sidebar {
    flex: none;
    width: 100%;
    order: 2; /* 必要に応じて順序を変更 */
    padding: 10px;
  }

  main.main-content {
    order: 1;
    padding: 10px;
    margin: 10px;
  }
}

  
  /* ヘッダー */
  header {
    /* border-top: 4px solid #6bb; */
    padding-top: 0px;
  }
  
  ul.account-menu {
    text-align: right;
  }
  
  /* フッター */
  footer {
    clear: both;
    font: 11px Verdana;
    color: #888;
    padding: 8px 0;
    border-top: 4px solid rgb(78, 118, 118);
    text-align: center;
  }
  
  footer nav ul li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 5px;
  }
  
  /* メニューバー */
  nav.menubar {
    padding: 2px;
    background-color: #1a1a22;
    color: #ccc;
    font-size: 80%;
    padding: 12px 16px;
  }
  
  nav.menubar ul li:not(:last-child):after {
    color: #ccc;
    content: "  ";
    margin: 0 2px;
    display: inline;
    list-style: none;
  }
  
  /* メニューバーのリンク */
  nav.menubar a { text-decoration: none; }
  
  /* メニューバーのリンク（未訪問） */
  nav.menubar a:link { color: #ccc; }
  
  /* メニューバーのリンク（訪問済） */
  nav.menubar a:visited { color: #ccc; }
  
  /* メニューバーのリンク（マウスを合わせたとき） */
  nav.menubar a:hover {
    color: #f88;
    text-decoration: underline;
  }
  
  /* メニューバーのリンク（現在のページ） */
  nav.menubar span {
    color: #ff8;
    font-weight: bold;
  }
  
  /* メインコンテンツ */
  main h1 {
    /*color: #88c;*/
    color:#1a1a22;
    font-weight: normal;
    font-size: 150%;
    /* border-bottom: 2px solid #88c; */
    margin-bottom: 0.5em;
  }
  
  main h2 {
    /*color: #99d;*/
    color:#1a1a22;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
    /* border-bottom: 1px solid #ccf; */
  }
  
  main p {
    font-size: 90%;
    line-height: 1.5;
  }
  
  ul.toolbar,
  div.toolbar {
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
  }
  
  ul.toolbar li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 2px;
  }
  
  /* サイドバー */
  form#login-form {
    font-size: 12px;
  }
  
  form#login-form div {
    padding: 2px;
    text-align: center;
  }
  
  form#login-form label {
    display: inline-block;
    width: 80px;
    text-align: center;
  }
  
  form#login-form input[type="text"],
  form#login-form input[type="password"] {
    width: 120px;
  }
  
  aside#sidebar h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: 1px dotted #080;
    margin-bottom: 0.5em;
    font-size: 100%;
  }
  
  aside#sidebar ul {
    padding-left: 1em;
    list-style-type: none;
  }
  
  aside#sidebar li {
    margin-bottom: 0.3em;
  }