/* 表：一覧表示、詳細表示 */
  table.list, table.attr {
    font-size: 90%;
    width: 100%;
  }
  table.list th, table.attr th {
    background-color: rgb(39, 103, 103);
    color: white;
    font-weight: normal;
  }

  table.list td, table.list th,
  table.attr td, table.attr th {
    padding: 4px;
  }

  table.list th {
  text-align: left;
  }

  table.attr th {
    text-align: right;
  }

  table.list td, table.attr td {
    background-color: rgb(194, 248, 248);
  }