<% @page_title = "ユーザー情報" %>

<h1><%= @page_title %></h1>


<ul class="toolbar">
  <%= menu_link_to "レビュー一覧", admin_user_reviews_path(@user) %>
  <%= menu_link_to "出品商品一覧",  admin_user_items_path(@user) %>

  
</ul>


<%= render 'shared/admin_seller_userbody' %>
